.container {
  display: flex;
  height: 100vh;
  border: 1px solid #7c878e;
}

.sdk-tabs {
  width: 370px;
  height: 100%;
  border-right: 1px solid #7c878e;
}

.sdk-list {
  flex: 1;
  height: 100%;
  padding: 20px;
}
