.button {
  display: flex;
  align-items: center;
  padding: 7px;
  width: 104px;
  height: 28px;
  background-color: #43b539;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;

  &-icon {
    width: 20px;
    height: 20px;
    fill: white;
    transform: translateY(1px);
  }
  &-label {
    color: white;
  }
}
